<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notes-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Notes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC62D1D21CFE423F006F5BA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC62D1E51CFE423F006F5BA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC62D1F01CFE423F006F5BA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECC171181CF5B01600ECAADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECC1712C1CF5B01600ECAADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECC171371CF5B01600ECAADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
